<div id='topSection'>
    <header>
        <h1 id="menuTitle">Duck Duck Goose</h1>
        <nav>
            <a class="nav-button" href="homePage.html">Home</a>
            <a class="nav-button" href="aboutUs.html">About Us</a>
            <a class="nav-button" href="projects.html">Projects</a>
            <a class="nav-button" href="events.html">Events</a>
            <a class="nav-button" href="joinUs.html">Join Us</a>
            <a class="nav-button" href="resources.html">Resources</a>
            <a class="nav-button" href="contactUs.html">Contact Us</a>
        </nav>
        <img id="logo" src="../images/DDG_Logo.png">
        <p>Created by Kevin Manoj</p>
    </header>
</div>
