    <header>
        <h1 id="menuTitle">Duck Duck Goose</h1>
        <nav>
            <a class="nav-button" href="homePage.html" style="text-decoration-line: none;">Home</a>
            <a class="nav-button" href="aboutUs.html" style="text-decoration-line: none;">About Us</a>
            <a class="nav-button" href="projects.html" style="text-decoration-line: none;">Projects</a>
            <a class="nav-button" href="events.html" style="text-decoration-line: none;">Events</a>
            <a class="nav-button" href="joinUs.html" style="text-decoration-line: none;">Join Us</a>
            <a class="nav-button" href="resources.html" style="text-decoration-line: none;">Resources</a>
            <a class="nav-button" href="contactUs.html" style="text-decoration-line: none;">Contact Us</a>
        </nav>
    </header>
    <img id="logo" src="images/DDG_Logo.png">

